*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Rubik Bubbles", "Madimi One", sans-serif;
}
html {
    background-color: black;
}
body{
    display: flex;
    justify-content: center;

}
h1{
    position: absolute;
    z-index: 2000;
    color: white;
    opacity: 0.2;
    font-family: sans-serif;
    font-size: 18px;
}
#contenedor, #contenedor2, #contenedor3{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#lyric{
    width: 85%;
    height: 20%;
    background-color: transparent;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    z-index: 100000;
    display: none;
}
#botonPu{
    width: 22%;
    height: 13%;
    background-color: transparent;
    border: 5px solid #e5e5fc;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 7px #0b1f91;
    color: #e5e5fc;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 15%;
    z-index: 2000;
}
#botonPu:hover{
    background-color: black;
    font-size: 25px;    
    transition-duration: 1s;
}

#contenedorPurin, #contenedorPurin2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}
#contenedorPurin{
    z-index: 2000;
}
#contenedorPurin2{
    transform: rotate(180deg) 
}
#purinshadow{
    width: 40%;
    height: 65%;
    box-shadow: 0px 0px 100px 10px #2a40bf, 0px 0px 500px 150px #0c1b9e, 0px 0px 500px 2000px #070d3d;
    border-radius: 100%;
    transform: rotate(-4deg);
    animation: purinScale 5s ease-in infinite;
    position: relative;
    top: -50%;
}
#astropurin {
    width: 50%;
    animation: purinScale 5s ease-in infinite;
    position: relative;
    top: 17%;
}


@media only screen and (max-width: 767px) {
    #purinshadow{
        width: 550px;
    }
    #astropurin{
        width: 550px;
        height: 615px;
        top: 34%;
    }
    #botonPu{
        font-size: 40px;
        width: 70%;
        margin-top: 60%;
    }
    #botonPu:hover{
        font-size: 45px;
    }
    #lyric {
        margin-top: 30%;
    }
}
.letra1{
    color:white;
    font-size: 38px;
    text-shadow: 0px 0px 20px white;
    animation: desvanecido 7s ease-in;
}
.letra2{
    color: rgb(239, 202, 65);
    font-size: 29px;
    text-shadow: 0px 0px 20px white;   
    animation: desvanecido 7s ease-in;
}
.bigText{
    font-size: 23px;
    animation: desvanecido 10s ease-in;
}
.mrblue{
    animation: desvanecido2 20s ease-in;
}
@keyframes desvanecido{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    65%{
        opacity: 0;

    }
    100%{
        opacity: 0;
    }
}
@keyframes purinScale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.970);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes desvanecido2{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    55%{
        opacity: 0;

    }
    100%{
        opacity: 0;
    }
}
.finally{
    animation: desvanecido3 25s ease-in;
}
.finally2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    z-index: 5000;
    animation: desvanecido3 25s ease-in;
}
@keyframes desvanecido3{
    0%{
        opacity: 1;
    }
    24%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
